{{ define "main" }}
<section class="post-list">
    <div class="post-container1">
        <div class="ebook-download-section" id="index-ebook">
            <p class="ebook-download-text" id="index-ebook-p">
                <a href="#" id="download-ebook-trigger">Download Our Free eBook: From Idea To Launch: A Step-By-Step Guide For Startups</a>
            </p>
        </div>
        <div class="post-grid">
            {{ range .Paginator.Pages }}
            <article class="post-card">
                <a href="{{ .Permalink }}">
                    <div class="post-image">
                        <img src="{{ .Params.image}}" alt="{{ .Title}}" loading="lazy">
                    </div>
                    <div class="post-content">
                        <h3>{{ .Title }}</h3>
                        <span><a href="{{ .Permalink }}">{{ .Description }}</a></span>
                        <h3> <a href="{{ .Permalink }}">read more</a></h3>
                    </div>
                </a>
            </article>
            {{ end }}
        </div>
    </div>

    <!---pagination links -->
    <nav class="pagination">
        {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}" class="prev">Previous</a>
        {{ end }}
        {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}" class="next">Next</a>
        {{ end }}
    </nav>
</section>

<!--- pop up form for email collection -->
<div id="ebook-popup" class="ebook-popup" style="display: none;">
    <div class="popup-content">
        <span class="close-popup">&times;</span>
        <h2>Enter Your Email Address</h2>
        <form id="ebook-download-form" method='POST' action="https://script.google.com/macros/s/AKfycby95QLpV-HLidUXXLAaVBc-t4Qw3Vmzr2-qroBpaolnaBpIU6oXByQkbTjHTER_TBR2/exec">
            <input type="email" id="user-email" placeholder="Your Email Address" required>
            <button type="submit">Download eBook</button>
        </form>
        <p id="thank-you-message" style="display: none;">Thank you! Your download will start automatically.</p>
    </div>
</div>

<!-- link to external javascript file -->
<script src="/js/ebook.js"></script>
{{ end }}