{{ define "main" }}
<section class="post-list">
    <div class="post-container1">
        <div class="post-grid">
            {{ range .Paginator.Pages }}
            <article class="post-card">
                <a href="{{ .Permalink }}">
                    <div class="post-image">
                        <img src="{{ .Params.image}}" alt="{{ .Title}}" loading="lazy">
                    </div>
                    <div class="post-content">
                        <h3>{{ .Title }}</h3>
                        <p>{{ .Params.description }}
                            
                        </p>
                    </div>
                </a>
            </article>
            {{ end }}
        </div>
    </div>

    <!---pagination links -->
    <nav class="pagination">
        {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}" class="prev">Previous</a>
        {{ end }}
        {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}" class="next">Next</a>
        {{ end }}
    </nav>
</section>
{{ end }}