{{ define "main"}}
<div class="main-container1">
    <div class="post-page-single">
        
        <div class="ebook-download-section">
            <p class="ebook-download-text">
                <a href="#" id="download-ebook-trigger">Download Our Free eBook: From Idea To Launch: A Step-By-Step Guide For Startups</a>
            </p>
        </div>

        <h1 class="page-header">{{ .Title }}</h1>
        <img src="{{ .Params.image}}" alt="entrepreneur" class="post-img">
        <p class="post-date">Published on {{ .Date.Format "January 2, 2006" }}</p>
        
    <div class="post-page-sub-container">
        <div class="single-page">
            {{ .Content }}
        </div>

<!--- ads comes here -->
      
    </div>

    <section class="latest-post">
        <div class="latest-post-container">
            <h1>Latest post</h1>
            <div class="post-rows">
            {{range first 5 (where .Site.RegularPages "Section" "post") }}
            <div class="post-summary1">
                <div class="post-image1">
                    <a href="{{ .Permalink }}">
                        <img src="{{ .Params.image }}" alt="{{ .Title }}">
                    </a>
                </div>
                <div class="post-content1">
                    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                    
                </div>
            </div>
            {{ end }}
        </div>
        </div>
    </section>
    </div>
</div>

<!--- pop up form for email collection -->
<div id="ebook-popup" class="ebook-popup" style="display: none;">
    <div class="popup-content">
        <span class="close-popup">&times;</span>
        <h2>Enter Your Email Address</h2>
        <form action="https://formspree.io/f/xanwpdrp" id="ebook-download-form" method='post'>
            <input type="email" id="user-email" placeholder="Your Email Address">
            <button type="submit">Download eBook</button>
        </form>
        <p id="thank-you-message" style="display: none;">Thank you! Your download will start automatically.</p>
    </div>
</div>

<!-- link to external javascript file -->
 <script src="/js/ebook.js"></script>

{{ end }}