.post-img {
    width: 80%;
    height: 300px;
    margin-left: 10%;
}

.subscribe-form {
    background: #f9cd52;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.subscribe-form h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #051e58;
}
.subscribe-form p {
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: #051e58;
}
.subscribe-form input[type="email"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #051e58;
    border-radius: 4px;
    font-size: 0.9rem;
}
.subscribe-form button {
    background: #051e58;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3 ease;
}
.subscribe-form button:hover{
    background-color: #0056b3;
}