{{ define "main" }}
<div class="contact-page">
    <div class="contact-container">
        <h1>Contact Us</h1>
        <div class="contact-page-sub-container">
            <div class="contact-page-content">
                <p>{{ .Content }}</p>

            <div class="form">
                <h2>[Contact Form]</h2>
                <form action="https://formspree.io/f/xanwpdrp" method="POST">
                    <label for="name">Name:</label> <br>
                    <input type="text" id="name" name="name" required> <br>
    
                    <label for="email">Email:</label> <br>
                    <input type="email" id="email" name="email" required><br>
    
                    <label for="message">Message:</label> <br>
                    <textarea name="message" id="message" rows="4" required></textarea><br>
    
                    <button type="submit">Send message</button>
                </form>
            </div>
            </div>

        </div>
    </div>
</div>
{{ end }}