<div class="subscribe-form">
    <h3>Want to learn more about becoming a successful entrepreneur?</h3>
    <p>Subscribe to our newsletter and get exclusive tips delivered to your inbox</p>
    <form id="subscribeForm" action="https://script.google.com/macros/s/AKfycbzp1KAJTYD0DAz1KzxytxmSQbnXt34yZ-KqWTHphAuE8X2LwkiX6iQMQuAS28CQa19R/exec" method="POST">
    <input type="email" name="email" placeholder="Enter your email here" required/>
    <button type="submit">Subscribe Now</button>
    </form>
    </div>