<div class="subscribe-form">
    <h3>Want to learn more about becoming a successful entrepreneur?</h3>
    <p>Subscribe to our newsletter and get exclusive tips delivered to your inbox</p>
    <form id="subscribeForm" method="POST"  data-netlify="true" data-netlify-honeypot="bot-field" name="subscribe">
        <input type="text" name="bot-field" style="display: none;"/>
    <input type="email" name="email" placeholder="Enter your email here" required/>
    <button type="submit">Subscribe Now</button>
    </form>
    </div>